---
title: Ideal Furniture Outlet
---

<div class="row">
	<div class="col-sm-12">
		<h1 class="home"> Welcome to iDeal Furniture Outlet! </h1>
		<p class="home">We have the best quality furniture at the lowest prices on Long Island! Please take a moment to view our commerical by clicking on the image below! Or see some of the great specials we have going on now by clicking on the link to our flyer!</p>
		<p class="home"><strong>Check back soon to see our new website and order online!</strong></p>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<img class="home img-responsive" src="/images/store1.jpg"/>
	</div>
	<div class="col-sm-4">
		<img class="home img-responsive" src="/images/store2.jpg"/>
	</div>
	<div class="col-sm-4">
		<img class="home img-responsive" src="/images/store3.jpg"/>
	</div>
</div>

<div class="row">
	<h1 class="store"> Watch Our Latest Commercial! </h1>
	<a class="video-clips1"><img class="video-clips1 img-responsive" src="/images/colossal-splash.jpg"/></a>
</div>

<div class="row">
	<div class="col-sm-12 pages">
		<h2><%= link_to "SEE ALL THE GREAT SPECIALS GOING ON NOW!", '/specials.html' %></h2>
		<p><%= link_to "CLICK HERE TO SEE OUR FLYERS!", '/specials.html' %></p>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<h1 class="store remove-bottom"> Come visit our store! </h1>
		<p class="store"> 75 Broadhollow Rd</p>
		<p class="store">Farmingdale, NY 11735</p>
		<p style="text-align: center;">
			<iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=75+Broadhollow+Rd+Farmingdale,+NY+11735&amp;aq=&amp;sll=40.74378,-73.927726&amp;sspn=0.010892,0.01929&amp;ie=UTF8&amp;hq=&amp;hnear=75+Broad+Hollow+Rd,+Farmingdale,+New+York+11735&amp;t=m&amp;ll=40.712394,-73.428068&amp;spn=0.019518,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="300" height="300"></iframe>
			<br />
			<small><a style="color: #0000ff; text-align: left;" href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=75+Broadhollow+Rd+Farmingdale,+NY+11735&amp;aq=&amp;sll=40.74378,-73.927726&amp;sspn=0.010892,0.01929&amp;ie=UTF8&amp;hq=&amp;hnear=75+Broad+Hollow+Rd,+Farmingdale,+New+York+11735&amp;t=m&amp;ll=40.712394,-73.428068&amp;spn=0.019518,0.025749&amp;z=14&amp;iwloc=A">View Larger Map</a></small>
		</p>
		<p class="store"> Our Store Hours are Mon-Sat: 10am-8pm, Sun: 11am-6pm </p>
		<p class="store"> Give us a Call at (631) 393-2777 </p>
		<p class="store"> Like Us on 
			<%= link_to "Facebook", "https://www.facebook.com/Idealfurnitureoutlet" %>!
		</p>
	</div>
</div>