<h1 class="specials"> Great Specials Going On Now! </h1>

<img class="specials img-responsive" src="images/specials1.jpg"/>
<img class="specials img-responsive" src="images/specials.jpg"/>
<img class="specials img-responsive" src="images/specials2.jpg"/>
<img class="specials img-responsive" src="images/specials3.jpg"/>